{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-jsx",
    // ["transform-react-jsx", { "pragma": "bsj.html" }]
    // ["jsx-pragmatic", { "module": "snabbdom-jsx", "import": "bsj" }]
    ["transform-react-jsx", {"pragma": "html"}]
  ]
}
