/* cycle-component DatePicker */
@import "../styles/variables";
@import "../Button/style";
@import "../styles/animate";

.cc-date-picker {
  width: 310px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px,
    rgba(0, 0, 0, 0.22) 0px 10px 18px;
  border-radius: 2px;
  box-sizing: border-box;
  background: @color-primary-opposite;
}

.cc-date-picker__title {
  width: 100%;
  height: auto;
  float: none;
  font-weight: 700;
  display: inline-block;
  background-color: @color-primary;
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  border-bottom-left-radius: 0;
  color: @color-primary-opposite;
  padding: @date-picker-title-card-padding;
  box-sizing: border-box;
}

.cc-date-picker__year {
  display: block;
}

.cc-date-picker__selected-time {
  display: block;
  height: @date-picker-selected-date-line-height;
  font-size: @date-picker-selected-date-size;
  line-height: @date-picker-selected-date-size;
  margin: 10px 0px 0px;
}

.cc-date-picker__content {

}

.cc-date-picker__btn {
  display: inline-block;
}

.cc-date-picker__cal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.cc-date-picker__cal-title-wrap {
  position: relative;
  width: 198px;
  text-align: center;
  overflow: hidden;
}

.cc-date-picker__cal-title {
  width: 100%;
  display: block;
}

.cc-date-picker__cal-title-absolute {
  .cc-date-picker__cal-title;

  position: absolute;
  top: 0;
}

.cc-date-picker__cal-body-wrap {
  position: relative;
  height: 252px;
}

.cc-date-picker__cal-body {
  font-weight: 400;
  line-height: 2;
  padding: @date-picker-cal-body-padding;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cc-date-picker__absolute-panel {
  .cc-date-picker__cal-body;
  position: absolute;
  top: 0;
  left: 0;
}


.cc-date-picker__row {
  display: flex;
  justify-content: space-around;
}

.cc-date-picker__days-panel {
  overflow: hidden;
}

.cc-date-picker__day-btn {
  position: relative;
  list-style: none;
  border: 0px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  outline: none;
  font-size: inherit;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: none;
  line-height: @date-picker-cal-day-btn-size;
  width: @date-picker-cal-day-btn-size;
  height: @date-picker-cal-day-btn-size;

  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &:hover:after {
    background: fade(@color-primary, 10%);
    width: @date-picker-cal-day-btn-size;
    height: @date-picker-cal-day-btn-size;
  }

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 50%;
  }

}

.cc-date-picker__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px;
  max-height: @date-picker-footer-height;
}

.cc-date-picker__confirm, .cc-date-picker__cancel {
  margin: @date-picker-footer-btn-margin;
}

/* animate class */

.cc-date-picker--slide-in-left {
  animation: slideInLeft;
  animation-duration: 200ms;
}

.cc-date-picker--slide-in-right {
  animation: slideInRight;
  animation-duration: 200ms;
}

.cc-date-picker--slide-out-left {
  animation: slideOutLeft;
  animation-duration: 200ms;
}
.cc-date-picker--slide-out-right {
  animation: slideOutRight;
  animation-duration: 200ms;
}

