/* cycle-component Button */
@import '../styles/variables';

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.cc-button(@color, @bgColor) {
  border: none;
  border-radius: @button-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: @button-font-size;
  font-weight: 500;
  height: @button-height;
  line-height: @button-height;
  margin: 0 @button-horizontal-margin;
  padding: 0 @button-horizontal-padding;
  position: relative;
  transition: all 0.3s;
  color: @color;
  background-color: @bgColor;

  &--loading {
    color: fade(@color, 50%);
    background-color: fade(@bgColor, 50%);

    &:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 2px solid fade(@bgColor, 50%);
      border-top-color: @color;
      animation: spinner 0.8s linear infinite;
    }
  }

  i {
    display: inline-block;
    line-height: @button-font-size;
    vertical-align: middle;
  }

  & * {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    & * {
      cursor: not-allowed;
    }

    cursor: not-allowed;
  }
}

.cc-button__flat {
  .cc-button(@color-default, @color-transparent);

  &--primary {
    .cc-button(@color-primary, @color-transparent);
    &:hover {
      background-color: @button-flat-hover-bg;
    }
  }

  &--secondary {
    .cc-button(@color-secondary, @color-transparent);
    &:hover {
      background-color: @button-flat-hover-bg;
    }
  }

  &:disabled {
    color: @color-disabled;
  }

  &:hover {
    background-color: @button-flat-hover-bg;
  }

}

.cc-button__raised {
  .cc-button(@color-default-opposite, @color-default);

  &--primary {
    .cc-button(@color-primary-opposite, @color-primary);
  }

  &--secondary {
    .cc-button(@color-secondary-opposite, @color-secondary);
  }

  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;

  &:disabled {
    background-color: @color-disabled-opposite;
    color: @color-disabled;
  }
}

.cc-icon__content {
  vertical-align: middle;
}

